{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <br>
  <br>
  <div class="row">
      <div class="col-md-12">
          <div class="card" >
              <div class="view overlay">
                <img class="card-img-top" src="{{project.upload_your_images_here.url}}" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body elegant-color white-text rounded-bottom">
                <a class="activator waves-effect mr-4"></a>
                <h4 class="card-title"> {{project.title}}</h4>
                <hr class="hr-light">
                <div style="height: 50px">
                    <p class="card-text white-text mb-4">{{project.description |truncatechars_html:170}}</p>
                </div>
               
                <p class="card-text"><strong>By</strong>: {{project.user}}</p>
            
              </div>
            
            </div>
      </div>
      
  </div>
  <br>
  <br>
</div>
<div class="container-fluid">
   

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card border-primary">
                <div class="card-header">Rate class of the year</div>
                
                <div class="card-body text-primary">
                    <form  action="/project/{{project.id}}" method="post" enctype="multipart/form-data" id="votes-form">
                      {%csrf_token%}
                    
                      {% bootstrap_form form%}
                      <div class="text-center">
                      <input id="votes-input"type="submit" class="btn btn-success btn-lg" value="Post">
                    </div>
                    </form>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">Class of the year</th>
                 
                  <th scope="col">Overall Score</th>
                </tr>
              </thead>
              <tbody>
                    {% if ratings%}
                {% for rating in ratings%}
                <tr>
                  <td>{{rating.profile.user}}</td>
                  <td>{{rating.class_of_the_yea}}</td>
                  <
                  <td>{{rating.overall_score}}</td>
                </tr>
            
            {% endfor%}
            </tbody>
            </table>
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Avarage</th>
                    <th scope="col">Class of the year</th>
                 
                    <th scope="col">Overall Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Average</td>
                    <td>{{total_class_of_the_year}}</td>
                    
                    <td>{{project.overall}}</td>
                  </tr>

              </tbody>
              </table>
            {%else %}

            <hr>
            {% endif %}
        </div>
      </div>
</div>




{% endblock %}